.clients {
    margin: 60px 0;

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-title;
    }

    &__logo {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &__icon {
        box-sizing: content-box;
        padding: 16px 52px;
        outline: 1px solid $fill-icon;
        border-radius: 4px;
        fill: $fill-icon;

        &:hover, &:focus {
            outline: 1px solid $color-logo;
            fill: $color-logo;
        }
    }
}

@media (min-width: 768px) {
    .clients {
        &__icon {
            padding: 16px 60px;
        }
    }
    
}

@media (min-width: 1200px) {
    .clients {
        margin: 94px 0;
        &__title {
            font-size: 36px;
        }
        &__logo {
            margin-top: 50px;
            justify-content: space-between;
        }
        &__icon {
            padding: 16px 32px;
        }
    }
}