.clients {
    margin: 60px 0;

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-title;
    }

    &__logo {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li {
            flex-basis: calc((100% - 30px)/2);
            cursor: pointer;
        }
    }

    &__icon {
        display: block;
        box-sizing: content-box;
        padding: 16px 0;
        outline: 1px solid $fill-icon;
        border-radius: 4px;
        fill: $fill-icon;
        width: 100%;    
        &:hover,
        &:focus {
            outline: 1px solid $color-logo;
            fill: $color-logo;
        }
    }
}

@media (min-width: 768px) {
    .clients {
        &__logo {
            li {
                flex-basis: calc((100% - 60px)/3);
            }
        }
    }  
}

@media (min-width: 1200px) {
    .clients {
        margin: 94px 0;
        &__title {
            font-size: 36px;
        }
        &__logo {
            margin-top: 50px;
            li {
                flex-basis: calc((100% - 150px)/6);
            }
        }
    }
}