.descriptions {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 0;

    li {
        flex-basis: 100%;
    }

    &__icon {
        box-sizing: content-box;
        background-color: $background-filter;
        padding: 25px 0;
        border-radius: 4px;
        margin-bottom: 30px;
        width: 100%;
    }
    &__title {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $color-title;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;

        &:hover {
            color: var(--color-text);
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}

@media (min-width: 768px) {
    .descriptions {
        li {
            flex-basis: calc((100% - 30px)/2);
        }
    
        &__title {
            text-align: start;
        }
    }

}

@media (min-width: 1200px) {
    .descriptions {
        padding: 94px 0;
        li {
            flex-basis: calc((100% - 90px)/4);
        }
    }
}