
.page-footer {
    background-color: $color-background;
    padding: 60px 0px;
}

.location {
    display: flex;
    flex-wrap: wrap;

    &__address {
        flex-basis: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-banner;
        margin-top: 28px;
    }
        
    &__contacts {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px;
        gap: 12px;
    }
    
    &__data {
        flex-basis: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $color-text-footer;
    }
}

.logo-footer {
    flex-basis: 100%;
    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-logo;

    &:active,
    &:visited {
        color: $color-logo;
    }

    span {
        color: $text-banner;
    }
}

.networks {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    &__text {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-banner;
        text-transform: uppercase;
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__icon {
        fill: $text-banner;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $color-logo;
        }
    }
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;

    &__mail {
        flex-basis: 100%;

        input {
            width: 100%;
            background-color: inherit;
            margin-top: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            padding: 14px 16px;
            font-family: $font-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.03em;
            color: $color-text-footer;
        }
    }

    &__text {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-banner;
        text-transform: uppercase;
    }

    &__btn {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        border: none;
        background-color: $color-logo;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 188%;
        color: $text-banner;
        padding: 0;
        cursor: pointer;
    }

    .form-footer__icon {
        fill: $text-banner;
        margin-left: 25px;
    }
}

/*
.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    &__mail {
        display: flex;
        flex-direction: column;

        input {
            width: 450px;
            background-color: inherit;
            margin-top: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            padding: 15px 16px;
            font-family: $font-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.03em;
            color: $color-text-footer;
        }
    }

    &__text {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-banner;
        text-transform: uppercase;
    }

    &__btn {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        border: none;
        background-color: $color-logo;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 188%;
        color: $text-banner;
        padding: 0;
        cursor: pointer;
    }

    .form-footer__icon {
        width: 24px;
        height: 24px;
        fill: $text-banner;
        margin-left: 25px;
    }

}
*/


@media (min-width: 768px) {
    .page-footer {
        .container {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .location {
        width: 232px;
        margin-right: 165px;
    }
    .networks {
        margin-top: 5px;
    }
}

/*
@media (min-width: 1200px) {
    .page-footer {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }
    .location {
        flex-direction: column;
        align-items: flex-start;

        &__contacts {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .logo-footer {
        font-size: 26px;
        text-align: right;

        &:active,
        &:visited {
            color: $color-logo;
        }    
    }
    .networks {
        flex-direction: column;
        &__icons {
            justify-content: flex-start;
        }
    }
}
*/