nav {
    display: flex;
}

.logo {
    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    text-align: right;
    letter-spacing: 0.03em;
    color: $color-logo;

    &:active, &:visited {
        color: $color-logo;
    }

    span {
        color: #000000;
    }
}

.page-header {
    border-bottom: 1px solid #ECECEC;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    }
}

.links {
    display: none;
}

.contacts {
    display: none;
}

@media (min-width: 768px) {
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &__item {
            display: inline-flex;
            align-items: center;
            &:hover *,
            &:focus * {
                color: $color-logo;
                fill: $color-logo;
            }

            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }

        &__icon {
            margin-right: 10px;
            fill: $color-text;
        }

        &__link {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: $color-text;
        }    
    }
    .links {
        display: flex;
        align-items: center;
        margin-left: 93px;

        li:not(:last-child) {
            margin-right: 50px;
        }

        &__item {
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: $color-title;

            &:hover,
            &:focus {
                color: $color-logo;
            }    
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: calc(100% + 28px);
                width: 100%;
                background-color: $color-logo;
                height: 4px;
                border-radius: 2px;
                opacity: 0;
            }
    
            &:hover::after,
            &:focus::after {
                opacity: 1;
            }
        }
    }
    .page-header {
        .container {
            height: 80px;
        }
    }
}

@media (min-width:1200px) {
    .contacts {
        flex-direction: row;
        align-items: center;

        &__item:not(:last-child) {
            margin-right: 40px;
            margin-bottom: 0px;
        }
    }
    .logo {
        font-size: 26px;
    }
}
