.products {
    background-color: $color-back-portafolio;
    padding-top: 106px;
    padding-bottom: 82px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-title;
        background-color: $background-filter;
        border-radius: 4px;
        cursor: pointer;
        border: 0px;
        height: 38px;
        padding: 0px;

        &:hover,&:focus {
            color: $text-banner;
            background: $color-logo;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
    }

    &__list:nth-child(1)>&__item {
        width: 73px;
    }
    
    &__list:nth-child(2)>&__item {
        width: 128px;
    }
    
    &__list:nth-child(3)>&__item {
        width: 145px;
    }
    
    &__list:nth-child(4)>&__item {
        width: 103px;
    }
    
    &__list:nth-child(5)>&__item {
        width: 130px;
    }
    
    &__list:not(:last-child) {
        margin-right: 8px;
    }
}

.brochure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;

    &__item {
        box-sizing: content-box;
        width: 370px;
        background-color: $text-banner;
        border: 1px solid #EEEEEE;
        padding-bottom: 20px;

        &:hover {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__description {
        position: relative;
        width: 370px;
        height: 294px;
        overflow: hidden;
    }

    &__description:hover &__transition {
        transform: translateY(0);
    }

    &__transition {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: $text-banner;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        margin: 0;
        padding: 63px 24px;
    }

    &__category {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        margin-top: 20px;
        margin-left: 24px;
        margin-right: 24px;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $color-title;
        margin-bottom: 4px;
    }
}