.service {
    display: none;
}

@media (min-width: 1200px) {
    .service {
        display: block;
        padding-bottom: 94px;

        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            color: $color-title;
            margin-bottom: 55.05px;
        }
    }
    
    .list {
        display: flex;
        gap: 30px;
    
        &__item {
            position: relative;
            overflow: hidden;
            flex-basis: calc((100% - 60px)/3);
        }
    
        &__img {
            display: block;
        }
    
        &__title {
            position: absolute;
            font-family: $font-primary;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            bottom: 0;
            display: flex;
            width: 100%;
            height: 70px;
            justify-content: center;
            align-items: center;
            background-color: rgba(47, 48, 58, 0.8);
            color: $text-banner;
        }
    }
}