.team {
    background-color: $background-filter;
    padding: 60px 0;

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-title;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    &__item {
        width: 270px;
        background-color: $text-banner;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 30px;
    }

    &__person {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 30px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-title;
        margin-bottom: 10px;
    }
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 44px;
    margin-top: 16px;

    li {
        display: flex;
        align-items: center;
    }

    &__network {
        border-radius: 50%;
        background-color: $text-banner;
        fill: $fill-icon;
        cursor: pointer;

        &:hover,&:focus {
            background-color: $color-logo;
            fill: $text-banner;
        }
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {
    .team {
        padding: 94px 0;

        &__title {
            font-size: 36px;
        }
    } 
    .cards {
        margin-top: 50px;
        justify-content: space-between;
    }
}